{% extends  "_layout.html" %}


{% block content %}
    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          {{htmlcontent}}
        </div>
      </div>
    </div>

{% endblock %}
